@import "../../common/colors.scss";

.footer{
    background-color: $secondary-color;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
    top:93%;
    bottom:0;
    position:fixed;
    width: 100%;
    padding-bottom: 6px;
}
